/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
}

/* CSS Variables for font and colours */
:root {
    --primary-font: "Marvel", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --primary-color: #ffffff;
    --clr-dark: #000000;
    --clr-primary: #240c44;
}

/* General styles */
body {
min-height: 100vh;
display: flex;
flex-direction: column;
}

/* Header */
header {
    background-color: var(--clr-dark);
    color: var(--clr-dark);
    padding: 0 0.5rem;
    position: fixed;
    z-index: 50;
    width: 100%;
    box-shadow: 0 1px 1px var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

#navmenu {
    letter-spacing: 1.5px;
    list-style-type: none;
}

#navmenu > li {
    margin-bottom: 0.25em;
}

.active {
    border-bottom: 1px solid var(--primary-color);
}
h1 {
    font-family: var(--primary-font);
    letter-spacing: 1px;
}

/* Main content */
main {
    background-color: var(--clr-primary);
    flex: 1 0 auto; /* So that main element takes up surplus space to push the footer down */
}

/* Footer */
footer {
    background-color: var(--primary-color);
}