/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
}

/* CSS Variables for font and colours */
:root {
    --primary-font: "Marvel", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --primary-color: #ffffff;
    --clr-dark: #000000;
    --clr-primary: #240c44;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: var(--clr-dark);
    color: var(--primary-color);
    padding: 0 0.5rem;
    position: fixed;
    z-index: 50;
    width: 100%;
    box-shadow: 0 1px 1px var(--primary-color);
    display: flex;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

#navmenu {
    letter-spacing: 1.5px;
    list-style-type: none;
}

#navmenu>li {
    margin-bottom: 0.25em;
}

#navmenu a:hover {
    border-bottom: 1px solid var(--primary-color);
}

.active {
    border-bottom: 1px solid var(--primary-color);
}

/* Navbar style and drop down */
nav {
    position: absolute;
    background-color: var(--clr-dark);
    width: 100%;
    left: 0;
    padding: 0 0.5rem;
    box-shadow: 0 1px 1px var(--primary-color);
    display: none;
    top: 100%;
}

/* Nav toggle button positioning and drop down*/
.nav-toggle {
    margin-left: auto;
    /* Added as nav bar displayed next to the title */
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
    margin-left: auto;
    /* Added as label displayed next to the title */
    padding: 10px;
}

h1 {
    font-family: var(--primary-font), sans serif;
    letter-spacing: 1px;
}

/* Main content */
main {
    background-color: var(--clr-primary);
    flex: 1 0 auto;
    /* So that main element takes up surplus space to push the footer down */
    margin-top: 89px;
    /* At 222 width breakpoint the boxshadow enlarges */
}

/* Carousel positioning */
.carousel-img {
    margin: 0 auto; /* Allows the pictures to be in the centre */
    margin-top: 140px; /* Allows the pictures to be below the header */
    display: block;
    height: 400px; 
    width: 50%;
    display: flex;
    align-items: center;
}

/* Footer */
footer {
    background-color: var(--primary-color);
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        margin-left: auto;
        /* Added to move navbar to the right side and moved back to middle when adding media query */
    }

    #navmenu {
        display: flex;
    }

    #navmenu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 992px) {
        /* h1 element */
        header a h1 br {
            display: none; /* Problem identified on chat GPT and used to keep text on the same line */
        }
        h1 {
            margin-top: 28px;
            letter-spacing: 4px;
        }
}

/* Footer */

.footercontainer {
    padding: 10px;
}

#social-links {
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

#social-links i {
    font-size: 140%;
    padding: 5%;
    color: var(--clr-dark);
}